.suffix-prompt {
    .theme {
        margin-top: 32px;
        margin-bottom: 32px;

        .title {
            text-align: center;
        }

        .subtitle {
            text-align: center;
            margin-bottom: 20px;
        }

        .add-prompt {
            text-align: center;
        }
    }


}